.choose{
    background-color: rgb(17, 171, 163);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 100px;
}

.choose p{
    margin: 0 0 30px;
}

.options{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}